*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    background-image: url(".//image.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}


.titulo-uno{
    font-size: 3em;
    color: #a0a7a3;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 29px;
}

h2 {
    margin-top: 150px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    margin-left: 25px;
    font-size: 35px
}


p {
    margin-right: 5vh;
    margin-top: 100px;
    margin-left: 100vh;
    color: white; 
    font-size: 32px;
   
}
.img{
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
} 